body{
    background-color:#021326;
    margin:0px;
}
bg{
    float:left;   
}
a{
    text-decoration:none;
}

#contenedorSupremo{
    width:1400px;
    height:500px;
    margin:0px auto;
    background-image:url(../imagenes/bg.png);
    background-position: -98px -15px;
}

li{
    list-style: none;
}
#ContenedorPrincipal{
    width:909px;
    /*border:1px solid white;   */
    margin:0px auto;
}

div#blanco{
    display: block;
    width:900px;
    height:260%;
    padding:10px 5px;
    border-radius:25px;
    background-color:white;
}

header{
    /*border:1px solid red;*/
    width:300px;   
    height:70px;    
}
header img{
    float:left;
}


nav#encimada{
    /*background-color:red;*/
    height:20px;
    /*border:1px solid white;*/
}

nav#encimada li{
    /*background-color:aqua;*/
    float:left;
    margin-top:0px;
}

nav#encimada ul{
    /*margin-left:589px;*/
    position:relative;
    left:630px;
    bottom:10px;
    
}
nav#encimada a{
    display:block;
    /*border-radius:10px 10px 0px 0px;*/
    width:50px;
    height:15px;
    font-size:13px;
    padding:10px 6px 5px 10px;
    color:white;
    background: linear-gradient(to bottom,rgb(33,115,171),rgb(16,62,98));
}

a#redondIzq{
    border-radius:15px 0px 0px 0px;
}
a#redondDer{
    border-radius:0px 15px 0px 0px;
}


a#MapCenter{
    border-left:2px solid white;
}





nav#princ{
    width:900px;
    height:72px;
    border-radius:10px;
    margin-bottom:4px;
    /*border:1px solid green;*/
    background:linear-gradient(to bottom,#EBF3F6,#C5DEE5);
}


nav#princ li{
    /*background-image:url(../imagenes/marker.png);*/
    list-style: none; /*quita viñetas*/
    float:left;
    
}

nav#princ a{
    background-image:url(../imagenes/boton1.png);
    display:block;
    /*padding:10px 20px;;*/
    /*background-color:red;*/
    
    /*padding:10px 20px 20px 20px;*/
    color:black;
    width:72px;
    
    padding:36px 5px 27px 35px;
    line-height: 2pt;
}


nav#princ a:hover{
    background-image: url("../imagenes/boton2.png");
}
    


nav#sec{
    background:linear-gradient(to bottom,rgb(143,223,2),rgb(101,179,5));
    width:250px;
    height:290px;
    /*border:1px solid yellow;*/
    border-radius:0px 0px 25px 0px;
    float:left;
}
/*EXCEPCION Main services_*/
p#serv{
    margin-left:30px;
    margin-bottom:8px;
    font-size:25px;
    color:white;   
    font-family:Helvetica;
}
/**/
nav#sec li{
    
    margin-left:25px;   
}

nav#sec  a{
    margin-left:5px;
    line-height:1.9;
    color:white;   
}

nav#sec a:hover{
    text-decoration:underline;
}




div#eslogan{
    width:650px;
    height:290px;
    margin:0px;
    /*border:1px solid brown;*/
    /*margin:0px auto;*/
    background-color:white;
    float:left;
}
div#imagSlogan{
    margin-left:6px;
    width:644px;
    height:265px;
    background-image: url("../imagenes/sSlogan.png");
    
}


#eslogan img{
    float:left;  
    margin-right:300px;
    
}


aside{
    width:250px;
    height:1100px;   
    /*border:1px solid green;*/
    float:left;
}
section{
    background-color:white;
    width: 648px;
    
    /*height:950px;*/
    /*border:4px solid blue;*/
    display:block;
    float:left;
}


div#espFormulario{
    /*background-color:white;*/
    padding:6px 0px;
    height:214px;
    /*border:4px solid white;*/    
}
div#formulario{
    margin:0px;
    height:208px;
    padding-top:7px;
    border-radius:0px 20px 20px 0px;
    background:linear-gradient(to bottom,#EBF3F6,#C5DEE5);
}

#formulario p{
    color:blue;
}
#formulario label{
    color:blue;
    font-size:13px;   
    font-weight: bold;
}
#formulario a{
    padding:1px 9px;
    border:1px solid gray;
    float:right;
    margin-top:5px;
    margin-right:30px;
    border-radius:4px;
    color:blue;
    background:linear-gradient(to bottom,#EBF3F6,#C5DEE5);
    font-weight:bold;
    font-size:13px;
}


div#news{
    margin-bottom:6px;
    padding-left:28px;
    padding-top:10px;
    padding-bottom:30px;
    /*height:380px;*/
    border:1px solid gainsboro;
    border-radius:0px 20px 0px 0px;
}
div#news h2{
    color:darkblue;
}

div#news p{
    color:blue;
    font-family:Helvetica,Arial;
    font-size:15px;
}


div#newsletter{    
    display:block;
    height:90px;
    padding-top:1px;

    background:radial-gradient(rgb(143,223,2),rgb(101,179,5));
    
    height:125px;
    border-radius:0px 0px 20px 20px;
    /*border:4px solid green;*/
}

#newsletter p{
    color:white;
}

div#SectionOne{
    margin:0px 50px;
    height:350px;
}
div#subSecc{
    margin-right:10px;
    width:264px;
    float:left;
}


div#SectionTwo{
    margin:0px 50px;
    /*float:left;*/
    height:300px;
    /*border:2px solid yellow;*/
}




section p{
    color:#7F7F7F;
    /*font-family: Arial;*/
}

p.titulo{
    font-size:30px;
    font-family:Helvetica;
    color:#096092;   
}
p.subtitulo{
    font-family:Helvetica;
    font-size:18px;
    color:#64BB02;
}
h3{
       font-family:Helvetica;
        font-size:16px;
}





#formulario p{
    padding-top:15px;
    font-weight:bold;
    font-family:Arial;
    margin-left:20px;
}
#cajainput{
    
    width:200px;   
    height:25px;
    margin-left:20px;
    margin-bottom:7px;
 
}
#recuerdame{
    width:10px;
    height:10px;
    margin-left:18px;   
}




#newsletter p{
    padding-top:1px;
    padding-left:30px;
    font-family:Arial;
}

#newsletter input{
    width:160px;
    margin-left:20px;
}
#newsletter a{
    display:block;
    width:50px;
    height:12px;
    padding:4px 4px;
    background:linear-gradient(to bottom,#EBF3F6,#C5DEE5);
    border-radius:4px;
    font-size:14px;
    margin-right:10px;
    float:right;
}

#news p{
    color:blue;
    margin-right:10px;
}
#news a{
    font-weight: bold;
    color:limegreen;
    float:right;
    margin-right:25px;
    text-decoration: underline;
}
#news span{
    color:black;
    font-weight:bold;
}

a#more{
    display:block;
    width:30px;
    height:15px;
    padding:3px 10px;
    text-decoration:none;
    background:linear-gradient(to bottom,#EBF3F6,#C5DEE5);   
    color:blue;
    font-weight:bold;
    border-radius:5px;
    font-size:13px;
}

#punteada{
    margin-left:60px;   
}
section img{
    margin:35px 0px 0px 0px;   
}



img#bajar{
    margin-top:62px;
}


#eslogan img{
    margin-left: 30px;   
}

#eslogan a{
    
    background:linear-gradient(to bottom,rgb(255,255,255) 40%,rgba(255,255,255,0),rgba(255,255,255,0.6));
        text-decoration:none;
    padding:7px 25px;
    color:black;
    font-weight:bold;
    border-radius:15px;
    float:right;
    margin-right:110px;
    font-family:Helvetica;
    box-shadow:0px 0px 15px;
}


footer p{
    font-family:Helvetica,Arial;
    font-size:14px;
    color:rgba(255,255,255,0.6);
    margin-left:20px;
}
span#left{
    margin-right: 20px;
    float:right;
}

span#left span{
    color:skyblue;
}


footer{
    clear:both;   
    position:relative;
    bottom:135px;
}

#en{
    position:relative;
    top:2px;
    right:30px;
}